<ion-header>
    <ion-navbar color="wmtheme">
        <ion-title>Recipe List</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addRecipe()" >
                <ion-icon color="light" name="add-circle"  ></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="recipe-component" no-paddings>

    <ion-refresher (ionRefresh)="refreshList($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <form  name="listForm" #listForm="ngForm">
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <ion-list no-padding no-margin>
            <ion-item *ngFor="let recipe of recipes; let i=index" [ngClass]="{'completed': recipe.checked}">
                <ion-label>
                    <span class="link-style" (click)="selectItem(recipe)"> {{recipe.name}}</span>
                    <span color="roxiado" *ngIf="recipe.weekDay"> *{{recipe.weekDay}}</span>
                </ion-label>

                <button item-right icon-right ion-button outline (click)="openModalDays(recipe)">
                    Calendar
                    <ion-icon  name="calendar" ></ion-icon>

                </button>
            </ion-item>

        </ion-list>

        <ion-list padding >
            <button ion-button block color="laranjado"  (click)="resetWeekList()" >Reset Week List</button>
        </ion-list>
    </form>
</ion-content>
