<ion-header>
    <ion-navbar>
        <ion-title>Recipe List</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addRecipe()">
                <ion-icon color="secondary" name="add-circle" ></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="recipe-component" no-paddings>

    <form  name="listForm" #listForm="ngForm">
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <ion-list no-padding no-margin>
            <ion-item *ngFor="let recipe of recipes; let i=index" [ngClass]="{'completed': recipe.checked}">
                <ion-label>
                    <span class="link-style" (click)="selectItem(recipe)"> {{recipe.name}}</span>
                    <span color="roxiado" *ngIf="recipe.weekDay"> *{{recipe.weekDay}}</span>
                </ion-label>

                <button item-right clear ion-button  (click)="openModalDays(recipe)">
                    <ion-icon  name="calendar" ></ion-icon>
                </button>
                <button item-right clear ion-button  (click)="updateRecipe(recipe, 'select')">
                    <ion-icon  name="checkbox"  color="secondary"></ion-icon>
                </button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
