<ion-header>
    <ion-navbar>
        <ion-title>Shopping List </ion-title>
        <ion-buttons end>
            <label >
                Total {{getTotalLeft()}}
            </label>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="ingredient" >
    <form  name="listCat" #listForm="ngForm" no-padding>
        <ion-item-group  *ngFor="let category of incompletedList let j = index">

            <!--[ngClass]="{'cat-completed' : catCompleted(category)}"-->
            <ion-item-divider roxiado>
                <label>{{category.name}}</label>
                <label item-right>Left {{getLeft(category)}}</label>
            </ion-item-divider>

            <ion-item *ngFor="let ingredient of category.ingredients let i = index"
                      (click)="onCheck(ingredient, category, 'incomplete')"
                      [ngClass]="{'completed': ingredient.checked}">
                <h2>
                    {{ingredient.name}}, <span class="recipe-from-ingredient">{{ingredient.labelQuantity}}</span>
                </h2>
                <p>Last check {{ingredient.getUpdateCheck()}}</p>
            </ion-item>
        </ion-item-group>


        <!-- **** completed list ***-->
        <ion-item-group *ngFor="let category of completedList let j = index">
            <ion-item-divider color="roxiado" class="cat-completed" >
                {{category.name}}
            </ion-item-divider>

            <ion-item *ngFor="let ingredient of category.ingredients let i = index"
                      (click)="onCheck(ingredient, category, 'completed')"
                      [ngClass]="{'completed': ingredient.checked}">
                <h2>
                    {{ingredient.name}}, <span class="recipe-from-ingredient">{{ingredient.labelQuantity}}</span>
                </h2>
                <p>Last check {{ingredient.getUpdateCheck()}}</p>
            </ion-item>
        </ion-item-group>
    </form>
    <ion-list padding *ngIf="listLoaded">
        <button ion-button block  (click)="resetIngredient()">Reset List</button>
    </ion-list>
</ion-content>
