<ion-header>
    <ion-navbar>
        <ion-title>Ingredient List</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addIngredient()">
                <ion-icon color="secondary" name="add-circle" ></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="ingredient">
    <ion-refresher (ionRefresh)="refreshList($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <form  name="listCat" #listForm="ngForm" no-paddings>
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <ion-item-group *ngFor="let category of categories; let j = index">

            <ion-item-divider color="light">
                <span (click)="editCategory(category)" class="link-style"> {{category.name}}</span>
                <ion-icon (click)="deleteCat(category)" name="remove-circle" color="danger" item-right></ion-icon>
            </ion-item-divider>

            <ion-item *ngFor="let ingredient of category.ingredients; let i=index" >
                <ion-label>{{ingredient.name}}</ion-label>
                <ion-checkbox color="secondary" item-left [(ngModel)]="ingredient.tempRecipeLinkIndicator"
                              name="checked-{{i}}-{{j}}"
                              (click)="saveCheckedIng(ingredient)" ></ion-checkbox>

                <button ion-button icon-only clear item-right (click)="editIngredient(ingredient)">
                    <ion-icon name="create" item-right ></ion-icon>
                </button>

            </ion-item>
        </ion-item-group>

        <ion-list padding *ngIf="listLoaded && recipe">
            <button ion-button block (click)="backToRecipe()" >Recipe's Details</button>
        </ion-list>
    </form>

</ion-content>
