<ion-header>
    <ion-navbar hideBackButton color="wmtheme">
        <button ion-button icon-only clear (click)="addItem()" color="light">
            <ion-icon name="restaurant"></ion-icon>
        </button>
        <ion-title>Weekly Menu</ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-padding class="home"  class="menu-component" >

    <ion-refresher (ionRefresh)="refreshList($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list >
        <ion-item-sliding *ngFor="let recipe of recipes">
            <ion-item  >
                <ion-avatar item-left *ngIf="recipe.mainMeal">
                    <img src="assets/images/{{recipe.mainMeal.mealDetail.icon}}">
                </ion-avatar>
                <ion-label>
                    <span class="link-style" (click)="selectItem(recipe)"> {{recipe.name}}</span>
                    <p>{{recipe.weekDay}}</p>
                </ion-label>
                <button  item-right ion-button (click)="pickUpShoppingList(recipe)" outline>For Shopping</button>
                <span style="color: #2ca633" *ngIf="recipe.mainMealValue === 'side'">
                    * {{recipe.mainMealValue}}
                </span>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button (click)="removeFromMenu(recipe)" color="laranjado">Remove</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
