<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button icon-only clear (click)="addItem()">
            <ion-icon name="create"></ion-icon>
        </button>
        <ion-title>Week's Menu</ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-padding class="home" >

    <ion-list >
        <ion-item *ngFor="let recipe of recipes" (click)="selectItem(recipe)">

            <ion-avatar item-left>
                <img src="assets/images/{{recipe.mainMeal.mealDetail.icon}}">
            </ion-avatar>
            <h2>{{recipe.name}}<span style="color: #2ca633"
                                     *ngIf="recipe.mainMealValue === 'side'"> * {{recipe.mainMealValue}}</span></h2>
            <p>{{recipe.weekDay}}</p>
        </ion-item>
    </ion-list>
</ion-content>
